<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIWebApp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <form id="myForm" method="post">
            <label for="submit">Route:</label>
            <input id="weather" type="submit" value="weather" formaction="/weather">
            <input id="joke" type="submit" value="joke" formaction="/joke">
            <input id="uv" type="submit" value="openUV" formaction="/openUV">
          </form>
    </div>
</body>
</html>