<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIWebApp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <div class="response-area">
            <p>
                <%= content %>
            </p>
        </div>
        <form method="post" id="myForm">
            <input id="joke" type="submit" value="GET" formaction="/joke-post">
        </form>
    </div>
</body>
</html>